<h2>Edit A Photo</h2>

<img src="{{link}}" alt="photo">

<form action="/gallery/{{id}}" method="post">
<!--
  <label for="title">title</label>
<br>
<input type="text" id="title" name="title" value="{{id}}">
<br>
-->
  <br>
  <div class="form-field">
    <label for="author">author</label>
    <br>
    <input type="text" id="author" name="author" value="{{author}}">
  </div>

  <div class="form-field">
    <label for="link">link</label>
    <br>
    <input type="text" id="link" name="link" value="{{link}}">
  </div>

  <div class="form-field">
    <label for="description">description</label>
    <br>
    <input type="text" id="description" name="description" value="{{description}}">
  </div>

  <div class="form-field">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Edit">
  </div>
</form>