<h2>Edit A Photo</h2>

<img src="{{link}}" alt="photo">

<form action="/gallery/{{id}}" method="post">
<!--
  <label for="title">title</label>
<br>
<input type="text" id="title" name="title" value="{{id}}">
<br>
-->
  <br>
  <div class="form-field">
    <label for="author">author</label>
    <br>
    <input type="text" id="author" name="author" value="{{author}}">
  </div>

  <div class="form-field">
    <label for="link">link</label>
    <br>
    <input type="text" id="link" name="link" value="{{link}}">
  </div>

  <div class="form-field">
    <label for="description">description</label>
    <br>
    <input type="text" id="description" name="description" value="{{description}}">
  </div>

  <div class="add_meta_field">
    <ul id="meta_fields">

      {{#each metaTags}}
<!--           <label for="{{key}}">key</label>
<input type="text" id="description" name="{{key}}" value="{{key}}">

<label for="{{value}}">value</label>
<input type="text" id="description" name="{{value}}" value="{{value}}">
<input type="button" value = "x" class="deleteButton">
<br>
<br> -->
<!--           <input class="meta_key" type="text" name="{{key}}" value="{{key}}"> -->
        <!-- <li>
          <label for="{{key}}">{{key}}</label>

          <input class="meta_value" name="{{key}}" type="text" name="{{key}}" value="{{value}}">
          <br>
        </li> -->
        <li>
          {{key}}
          <input class="meta_value" type="text" name="meta[{{key}}]" value="{{value}}">
          <input type="button" value = "x" class="deleteButton">
        </li>
      {{/each}}
      <!--
        FIELDS GO HERE
        <li>
          <input class="meta_key" type="text" name="someKey" placeholder="Attribute">
          <input class="meta_value" type="text" name="meta[someKey]" placeholder="Attribute">
        </li>
      -->
    </ul>

    <button id="add_meta_field_button" type="button" >Add Meta Data</button>
  </div>



  <div class="form-field">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Edit">
  </div>
</form>
<script src="/js/metaFields.js"></script>
<script src="/js/editPageMetaTags.js"></script>