
<div>
  <br>
  {{#each photos}}
    <a href="./gallery/{{id}}">
      <img src="{{link}}" alt="photo"></img>
      <p>{{author}}</p>
      <p>{{description}}</p>
      <p>{{id}}</p>
      <br>
      <br>
    </a>
  {{/each}}
</div>
