  <div class="photo" id='frontPhoto'>
    <a href="./gallery/{{frontPhoto.id}}">
      <img src="{{frontPhoto.link}}" alt="photo"></img>
      <div class="label">
        <p>{{frontPhoto.author}}
        <br>
        {{frontPhoto.description}}
        <br>
        {{frontPhoto.id}}</p>
      </div>
    </a>
  </div>
{{#each photos}}
  <div class="photo">
    <a href="./gallery/{{id}}">
      <img src="{{link}}" alt="photo"></img>
      <div class="label">
        <p>{{author}}
        <br>
        {{description}}
        <br>
        {{id}}</p>
      </div>
    </a>
  </div>
{{/each}}
