<div id="frontPhoto">
  <div class="photo" >
    <a href="./gallery/{{frontPhoto.id}}">
      <img src="{{frontPhoto.link}}" alt="photo"></img>
    </a>
    <div class="label">
      <p>{{frontPhoto.author}}
      <br>
      {{frontPhoto.description}}
      <br>
      {{frontPhoto.id}}</p>
    </div>
  </div>
</div>

<div class="photoList">
  {{#each photos}}
    <div class="photo">
      <a href="./gallery/{{id}}">
        <img src="{{link}}" alt="photo"></img>
      </a>
      <div class="label">
        <p>{{author}}
        <br>
        {{description}}
        <br>
        {{id}}</p>
      </div>
    </div>
  {{/each}}
</div>
