<img src="{{link}}" alt="photo"></img>
<p>{{author}}</p>
<p>{{description}}</p>

<form action="/gallery/{{id}}" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Photo">
</form>
<a href="./{{id}}/edit">edit photo</a>

/*
render this photo
each gallery photo should include a link to delete this gallery photo
each gallery photo should include a link to edit this gallery photo
*/